/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */


#container{
    width: 600px;
    height: 640px;
    margin: 0 auto;
    background-color: #eae7d2;
}

#topbar{
    width: 600px;
    height: 220px;
    background-color: #51473d;
    background-image: url(pics/coffey.jpg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: right;
    color: white;
    font-family: Verdana;
    font-size: 10px;
    font-style: italic;
}

#content{
    width: 600px;
    height: 450px;
}

#maincontent{
    width: 380px;
    height: 400px;
    float: left;
}
    #maincontent h1{
        font-family: Times;
        font-size: 30px;
        font-weight: normal;
        color: #797066;
        padding-left: 10px;
    }
    #maincontent img{
        float: left;
        padding-left: 10px;
        padding-right: 5px;
    }
    #maincontent p{
        padding-left: 10px;
    }

#subcontent{
    width: 220px;
    height: 400px;
    float: right;
}

#bottomcontent{
    width: 600px;
    height: 50px;
    clear: both;
}

#menu{
    width: 600px;
    height: 36px;
    background-color: #51473d ;
}
    #menu ul{
        margin: 0;
        padding: 5px 10px 0;
        list-style: none;
        font-family: Verdana;
        font-size: 12px;
    }

    #menu li{
        float: left;
        background-color: #797066;
        margin: 0;
        padding: 8px 18px;
        border-left: thin solid black;
    }
        #menu li a{
            display: block;
            float: left;
            text-decoration: none;
            color: #eae7d2;
            text-transform: capitalize; 
            letter-spacing: 1px;
        }
    #menu a{
        display: none;
    }

    #menu .active{
        background-color: #eae7d2;
    }
        
        #menu .active a{
            color: #888076;
        }
